.header {
}

.header__logo-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;
}

.header__logo {
  width: 80px;
  height: 80px;
  background: #d9eef4;
  border-radius: 30px;
  /* margin-right: 40px; */
}

.header__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 39px;
  color: #333333;
}

.nav__menu {
  display: none;
}

.nav__menu-list {
  list-style: none;
}

.nav__menu-link {
  font-size: 16px;
  line-height: 28px;
  color: #8e8e8e;
  text-decoration: none;
}

.nav__menu-link:hover {
  color: #53a4bb;
  border-bottom: 3px solid #53a4bb;
  border-radius: 30px 30px 0px 0px;
}

.main__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  padding: 0 5%;
  margin: 50px 0 80px;
}

.book-section {
  /* display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
 grid-auto-flow: dense; */
  align-items: flex-start;
  padding: 0 5%;
}

.book-section__main {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-section__featured {
  background: #ffffff;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 32px 27px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
  border-radius: 20px;
  padding: 36px;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;

  transition: all 500ms;
}

.card:hover,
.selected {
  background: #d9eef4;
  transform: scale(1.05);
  transition: all 500ms;
}

.card-featured {
  display: block;
  border: 1px solid #bababa;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  text-decoration: none;
  transition: all 500ms;
}

.card-featured:hover {
  background: #d9eef4;
  border: 1px solid #d9eef4;
  transform: scale(1.1);
  transition: all 500ms;
}

.card__image,
.card-featured__image {
  margin: 0 0 20px;
  border: 2px solid #d9eef4;
  border-radius: 15px;
}

.card-featured__image-container {
  display: flex;
  justify-content: center;
}
.card-featured__image {
  margin: 0 0 22px;
}

.card__title,
.card-featured__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #333;
  margin: 0 0 8px;
}

.card-featured-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333 !important;
  text-align: center;
  margin: 32px 0;
}

.card__author,
.card-featured__author {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #bababa;
  margin: 0 0 6px;
}

.card__pages,
.card-featured__pages {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #bababa;
}

.card__details,
.card-featured__details {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #333;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 425px) {
  .card {
    flex-direction: row !important;
  }

  .card__image {
    margin-right: 22px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-area {
    /* flex-direction: row; */
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
  }

  .main__text {
    padding: 0 15%;
  }

  .card {
    max-height: 200px;
  }

  .card:hover,
  .selected {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .book-section {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-column-gap: 5%;
    padding: 0 5%;
  }

  .book-section__main {
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .book-section__featured {
    margin-bottom: 0;
  }

  .card {
    margin-bottom: 50px;
    max-width: 35%;
  }
}
